<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- ../public/css/style.css -->
</head>

<body>
  <div class="main-content">
    <div class="header-text">
      <h2>20% OFF</h2>
      <h3>ON EVERYTHING</h3>
      <div class="shop">
        <button class="shop-btn">
          Shop Now
        </button>
      </div>

    </div>

  </div>
  <div class="shop-features">
    <ul>
      <li>
        <div>
          <i class="fas fa-truck"></i>
        </div>
        <p>
          free delivery
        </p>
      </li>
      <li>
        <div>
          <i class="fas fa-shopping-cart"></i>
        </div>
        <p>
          free shipping
        </p>
      </li>
      <li>
        <div>
          <i class="fas fa-medal"></i>
        </div>
        <p>
          best quality
        </p>
      </li>
    </ul>
  </div>

  <div class="new-arrival">
    <h2>New Arrivals</h2>
    <p>Discover our latest fashion arrivals, featuring trendy and stylish clothing perfect for every season. Elevate
      your wardrobe with our new collection, offering a variety of designs to suit every taste. Whether you're looking
      for casual wear, office attire, or something special for an event, our new arrivals have you covered. Enjoy
      exclusive styles and limited edition pieces that keep you ahead of the fashion curve. Shop now and stay chic with
      the newest additions to our fashion lineup.</p>
    <div class="shop">
      <button class="shop-btn">
        Shop Now
      </button>
    </div>
  </div>
</body>

</html>